Source: tmatrix
Section: misc
Priority: optional
Maintainer: Vladyslav Dalechyn <h0tw4t3r@parrotsec.org>
Build-Depends: debhelper (>= 11), libc6-dev
Standards-Version: 4.1.3
Homepage: https://nest.parrotsec.org/h0tw4t3r/tmatrix
Vcs-Browser: https://nest.parrotsec.org/h0tw4t3r/tmatrix
Vcs-Git: https://nest.parrotsec.org/h0tw4t3r/tmatrix.git

Package: tmatrix
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Colorful matrix
 Modern representation of The Matrix-like digital rain.

